@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html, body {
    background-color: black;
    color: white;
    margin: 0%;
}

h1.title {
    font-family: 'DM Serif Display', serif;
    color: white;
    margin: 0%;
    font-size: 8rem;
}

h2.title {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    color: white;
    margin: 0%;
}

h3 {
    font-family: 'poppins', sans-serif;
    color: white;
    margin: 0%;
}

.gradient-text {
    background-image: linear-gradient(45deg, #FF3153, #7C7EFF);
    background: -webkit-linear-gradient(45deg, #FF3153, #7C7EFF);
    background-size: 80%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

div.title {
    height: calc(100vh - 4rem);
    line-height: calc(100vh - 4rem);
}
span.title{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-bottom: 10%;
    margin-left: 2%;
}